

.App {
  text-align: center;
  #background-color: #808080;
  #background-color: white;
  #width: 100px;
  #padding: 50px;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  #background: #323534 url(back.png) repeat-x;
  #height: 112	px;
  #padding: 20px;
  align: right;
  #color: white;

}


.App-title {
  font-size: 1.5em;
}

.App-intro {
	background-color: #222;
  #font-size: large;
  #-moz-border-radiusmargin: 10px 300px 100px 300px;
  #width: 880px;
}

.Contact {
	color: white;
}


.Banner {  
  background: transparent url(banner.jpg) no-repeat;
  height: 100px;
  #margin-bottom: 10px;
  border: 1px solid #DDD;}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar-inverse .navbar-nav > li > a:hover {
  background-color: gray;
}

.navbar {
    margin-bottom: 0px;
	
}

/*
.Menu
{ float: left;
  margin: 10;}

.Menu li
{ float: left;
  padding: 0 0 0 9px;
  list-style: none;
  margin: 1px 2px 0 0;
  background: #5A5A5A url(tab.png) no-repeat 0 0;}

.Menu li a
{ font: normal 100% 'trebuchet ms', sans-serif;
  display: block; 
  float: left; 
  height: 20px;
  #padding: 6px 35px 5px 28px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  background: #5A5A5A url(tab.png) no-repeat 100% 0;} 

.Menu li.selected a
{ height: 20px;
  #padding: 6px 35px 5px 28px;}

.Menu li.selected
{ margin: 1px 2px 0 0;
  background: #00C6F0 url(tab_selected.png) no-repeat 0 0;}

.Menu li.selected a, .Menu li.selected a:hover
{ background: #00C6F0 url(tab_selected.png) no-repeat 100% 0;
  color: #FFF;}

.Menu li a:hover
{ color: #E4EC04;}
*/