.App {
  text-align: center;
  #background-color: #808080;
  background-color: white;
  #width: 100px;
  #padding: 50px;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  #background-color: #222;
  background: #323534 url(back.png) repeat-x;
  height: 136px;
  padding: 20px;
  align: right;
  color: white;

}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  margin: 10px 300px 100px 300px;
  #width: 880px;
}

.Contact {
	color: #222;
}

.Menubar {
  margin: 35px 300px 100px 0px;
}

.Banner {  
  background: transparent url(banner.jpg) no-repeat;
  height: 180px;
  margin-bottom: 10px;
  border: 10px solid #DDD;}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Menu
{ float: right;
  margin: 0;}

.Menu li
{ float: left;
  padding: 0 0 0 9px;
  list-style: none;
  margin: 1px 2px 0 0;
  background: #5A5A5A url(tab.png) no-repeat 0 0;}

.Menu li a
{ font: normal 100% 'trebuchet ms', sans-serif;
  display: block; 
  float: left; 
  height: 20px;
  padding: 6px 35px 5px 28px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  background: #5A5A5A url(tab.png) no-repeat 100% 0;} 

.Menu li.selected a
{ height: 20px;
  padding: 6px 35px 5px 28px;}

.Menu li.selected
{ margin: 1px 2px 0 0;
  background: #00C6F0 url(tab_selected.png) no-repeat 0 0;}

.Menu li.selected a, .Menu li.selected a:hover
{ background: #00C6F0 url(tab_selected.png) no-repeat 100% 0;
  color: #FFF;}

.Menu li a:hover
{ color: #E4EC04;}
